CATHSIM_PHYSICS_ENGINE=newton
CATHSIM_VPP_DATA_ROOT=/app/data/vpp_assets
CATHSIM_VPP_ASSETS_HOST=/home/ps/cathsim-warp/data/vpp_assets
CATHSIM_NEWTON_SUBSTEPS=8
CATHSIM_NEWTON_ITERS=4
CATHSIM_NEWTON_PUSH_SPEED=0.05
CATHSIM_NEWTON_SETTLE_STEPS=480
CATHSIM_NEWTON_SETTLE_MIN_STEPS=480
CATHSIM_NEWTON_RETURN_SETTLE_STEPS=120
CATHSIM_NEWTON_ROTATE_SPEED=5.0
